.store-section {
  width: 85%;
  margin: 10px 7.5%;
  .store-intro {
    h1 {
      font-weight: 300;
      color: aliceblue;
      margin-bottom: 2px;
    }
    p {
      padding: 2px 3px 2px;
      font-size: 17px;
      margin: 1px 2px 1px;
    }
  }
  .store-features {
    margin-top: 10px;
    h2 {
      margin-bottom: 3px;
    }
    li {
      list-style: none;
      margin-left: 1%;
      margin-bottom: 2px;
      padding: 2px 3px 2px;
    }
    .feature-name {
      font-size: 18px;
      font-weight: 100;
      color: rgb(240, 248, 255, 0.9);
    }
    .feature-description {
      padding: 2px 3px 2px;
      font-size: 17px;
    }
  }
}
