.products-intro-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin: 4% 5%;
  .left-part {
    width: 70%;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      margin: 1%;
      cursor: pointer;
      transform: scale(0.95);
      transition: transform 1.5s;
      &:hover {
        transform: scale(1);
        transition: transform 1.5s;
      }
      &:last-child {
        @media (min-width: "769px") and (max-width: "819px") {
          min-height: 12rem;
        }
      }
    }
  }
  .right-part {
    width: 30%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 7%;
    .intro-animation {
      animation: slowIntro 1.5s ease-in-out;
    }
    h2 {
      color: rgb(235, 198, 150);
      font-weight: 400;
    }
    p {
      font-weight: 300;
      font-size: 28px;
    }
    button {
      padding: 3px 5px 3px;
      margin: 2px 3px 2px;
      font-size: 24px;
      font-weight: 200;
      color: burlywood;
      text-decoration: none;
      //using button as a link
      background-color: unset;
      border: unset;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    @media (min-width: "769px") and (max-width: "1040px") {
      h2 {
        font-size: 42px;
      }
      p {
        font-size: 22px;
      }
      button {
        font-size: 20px;
      }
    }
    @keyframes slowIntro {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0.25;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
