
// todo - have a custom webkit scroll bar
// ::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px rgb(121, 121, 246); 
//   border-radius: 5px;
// }

// ::-webkit-scrollbar-thumb {
//   background:  rgb(240, 192, 130); 
//   border-radius: 10px;
// }

